
<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>EasySeller - page non trouvée</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="ThemeDesign" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="icon" type="image/x-icon" href="{{ asset('ressources/images/favicon.png') }}" />

        <link href="{{ asset("ressources/vendor/css/bootstrap.min.css")}}" rel="stylesheet" type="text/css">
        <link href="{{ asset("ressources/vendor/css/icons.css")}}" rel="stylesheet" type="text/css">
        <link href="{{ asset("ressources/vendor/css/style.css")}}" rel="stylesheet" type="text/css">
        <link href="{{ asset("ressources/css/easyseller.css")}}" rel="stylesheet" type="text/css">

    </head>


    <body>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">
            <div class="ex-page-content text-center">
                <h1 class="text-white">404!</h1>
                <h2 class="text-white">La page demandée n'a pas été trouvée. </h2><br>

                <a class="btn btn-info waves-effect waves-light" href="{{ path('homepage')}}">Retour à l'accueil</a>
            </div>
        </div>



        <!-- jQuery  -->
        <script src="{{ asset("ressources/vendor/js/jquery.min.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/bootstrap.min.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/modernizr.min.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/detect.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/fastclick.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/jquery.slimscroll.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/jquery.blockUI.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/waves.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/wow.min.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/jquery.nicescroll.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/jquery.scrollTo.min.js")}}"></script>
        <script src="{{ asset("ressources/vendor/js/app.js")}}"></script>

    </body>
</html>
