{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
<div class="form-group text-center m-t-40">
  <div class="col-xs-12">
    <a href="{{ path('homepage')}}">
      <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Retour à l'accueil</button>
    </a>
  </div>
</div>
