{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset("ressources/vendor/plugins/chartist/css/chartist.min.css")}}"> {{ parent() }} {% endblock %} {% block body %}
<div class="">
    <div class="page-header-title">
        <h4 class="page-title">Tableau de bord Gerant</h4>
    </div>
</div>

<div class="page-content-wrapper ">

    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title text-muted m-t-10 font-light">Total de ce mois</h4>
                    </div>
                    <div class="panel-body p-t-10">
                        <h2 class="m-t-0 m-b-15 text-warning font-light"><i class="fa fa-money m-r-10"></i>{{ render(url('statistiques_mois'))}}</h2>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title text-muted m-t-10 font-light">Total de cette journée</h4>
                    </div>
                    <div class="panel-body p-t-10">
                        <h2 class="m-t-0 m-b-15 text-success font-light"><i class="fa fa-money m-r-10"></i>{{ render(url('statistiques_jour'))}}</h2>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="panel panel-border panel-primary">
                    <div class="panel-body">
                        <h4 class="m-t-0 m-b-30">Courbes des recettes journalières</h4>

                        <ul class="list-inline widget-chart m-t-20 m-b-15 text-center">
                            <li>
                                <h4 class=""><b>{{ render(url('statistiques_mois'))}}</b></h4>
                                <p class="text-muted">Ce mois</p>
                            </li>
                            <li>
                                <h4 class=""><b>{{ render(url('statistiques_jour'))}}</b></h4>
                                <p class="text-muted">Aujourd'hui</p>
                            </li>
                        </ul>

                        <div id="recette-journaliere" class="ct-chart ct-golden-section"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-border panel-primary">
                    <div class="panel-body">
                        <h4 class="m-t-0 m-b-30">Diagrammes mensuels</h4>

                        <ul class="list-inline widget-chart m-t-20 m-b-15 text-center">
                            <li>
                                <h4 class=""><b>{{ render(url('statistiques_annee'))}}</b></h4>
                                <p class="text-muted">Cette année</p>
                            </li>
                            <li>
                                <h4 class=""><b>{{ render(url('statistiques_mois'))}}</b></h4>
                                <p class="text-muted">Ce mois</p>
                            </li>
                        </ul>

                        <div id="recette-mensuelle" class="ct-chart ct-golden-section"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->


    </div>
    <!-- container -->


</div>
<!-- Page content Wrapper -->
{% endblock %} {% block javascripts %} {{ parent() }}
<!--Chartist Chart-->
<script src="{{ asset("ressources/vendor/plugins/chartist/js/chartist.min.js")}}"></script>
<script src="{{ asset("ressources/vendor/plugins/chartist/js/chartist-plugin-tooltip.min.js")}}"></script>

<script src="{{ asset("ressources/vendor/pages/dashborad.js")}}"></script>
<script src="{{ asset("ressources/vendor/js/app.js")}}"></script>
<script>
  var chart=new Chartist.Line("#recette-journaliere",
  {
    labels:[{% for i in 1..31 %}{{i}}, {% endfor %}],
    series:[[
      {% for i in 1..30 %} {{ render(url('statistiques_journaliere', {'jj': i})) }}, {% endfor %}
    ]]
  },{low:0,showArea:!0,plugins:[Chartist.plugins.tooltip()]});

  var chart=new Chartist.Bar("#recette-mensuelle",
  {
    labels:["Jan","Fev","Mar","Avr","Mai","Jun", "Jul", "Aou", "Sep", "Oct", "Nov", "Dec"],
    series:[[
      {% for i in 1..12 %} {{ render(url('statistiques_mensuelle', {'mm': i})) }}, {% endfor %}
    ]]
  },{stackBars:!0,axisY:{labelInterpolationFnc:function(e){return e/1e3+"k"}},plugins:[Chartist.plugins.tooltip()]}).on("draw",function(e){"bar"===e.type&&e.element.attr({style:"stroke-width: 30px"})});
</script>

{% endblock %}
