{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ client.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Rc</th>
                <td>{{ client.rc }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
            <tr>
                <th>Bp</th>
                <td>{{ client.bp }}</td>
            </tr>
            <tr>
                <th>Contact1</th>
                <td>{{ client.contact1 }}</td>
            </tr>
            <tr>
                <th>Contact2</th>
                <td>{{ client.contact2 }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if client.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ client.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ client.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ client.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ client.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ client.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('client_edit', { 'id': client.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
