{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fournisseur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournisseur.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ fournisseur.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fournisseur.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ fournisseur.adresse }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ fournisseur.contact }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if fournisseur.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ fournisseur.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ fournisseur.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ fournisseur.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ fournisseur.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ fournisseur.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fournisseur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
